*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.%;
}
body{
    font-size: 1.6rem;
}
.container{
    border: 3px solid black;
    display: flex;
    height: 50vh;
    flex-wrap: wrap-reverse; 
    /* justify-content: space-around;
    align-items: stretch; */
}
.box{
    width: 10rem;
    /* height: 10rem; */
}
.box1{
    background-color: antiquewhite;
}
.box2{
    background-color: aqua;
    flex-grow: 3;
}
.box3{
    background-color: rgb(55, 255, 48);
}
.box4{
    background-color: blue;
}
.box5{
    background-color: blueviolet;
}
.box6{
    background-color: darkred;
}
  
    